{% extends 'base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>EDIT PATIENT </strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div role="form">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Patient ID :</label>
                                        <input class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>TR Identity No :</label>
                                        <input class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">Adress :</label>
                                        <textarea class="form-control" id="textarea-size" placeholder="Add a address" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>First Name :</label>
                                        <input class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name :</label>
                                        <input class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Phone :</label>

                                        <input class="form-control" id="phone">
                                        <button id="btn-phone" type="submit" class="btn btn-primary">+</button>

                                    </div>
                                </div>

                                <hr style="width: 100%">
                                <br>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Implant Center :</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Operation Date :</label>

                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label>HVAD Pump ID :</label>
                                            <input class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Quantitiy of Device :</label>
                                            <input class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Status of Patient :</label>
                                            <input class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Status Date :</label>
                                            <input class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>How long stayed on device (days) :</label>
                                            <input class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledSelect">Note :</label>
                                            <textarea class="form-control" id="textarea-size" placeholder="Take a note" rows="3"></textarea>
                                        </div>

                                    </div>

                                </div>
                                <button type="submit" class="btn btn-primary">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <script>
        type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });

    </script>
{% endblock %}