
.search-inp
{ width: 153px !important; }

#custom-search-form
{
    margin-bottom: 15px;
    margin-right: 0;
}
#textarea-size
{
    resize:none;
}
#phone
{
    width: 250px;
}

#btn-phone
{
    margin-left: 260px;
    margin-top: -54px;
}
