{% extends 'base.html.twig' %}

{% block login %}
<div class="container">
    <div class="logo">login</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="login-form" class="login-form" method="post">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="lg_username" class="sr-only">Username</label>
                        <input name="username" type="text" placeholder="username"/>
                    </div>
                    <div class="form-group">
                        <label for="lg_password" class="sr-only">Password</label>
                        <input name="password" type="password" placeholder="password"/>
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
        </form>
    </div>
    <!-- end:Main Form -->
</div>
</div>



{% endblock %}
{% block javascripts %}

    <script>
        var Forms={
            Add:{
                Self: $('#login-form'),
                Field:{
                    Username:$('#login-form input[name ="username"]'),
                    Password:$('#login-form input[name ="password"]')
                },
                Bind:function () {
                    Forms.Add.Self.on('submit',function (e) {
                        e.preventDefault();
                        $.post('{{ url('ajax_login') }}',$(this).serialize(),function (result) {
                            if(result.success)
                            {
                                location.href="/";
                            }else{
                                alert("Kullanıcı Girişi Hatalı");
                            }
                        })
                    })
                }
            },
            Bind:function () {
                Forms.Add.Bind();

            }
        };
        $(document).ready(function () {
            Forms.Bind();
        })
    </script>
{% endblock %}